
<div class="container">
<H1 style="text-align:center">Login!</H1>
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

  <form>
    <div class="form-group">      
        <label for="username">User Name : </label>
        <input type="text" class="form-control" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
        <label for="password">Password  : </label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password">
    </div>
    <div style="text-align:center" class="form-group">
        <button (click)=handleJWTAuthLogin() class="btn btn-dark">  Login  </button>
        &nbsp;&nbsp;
        <a class="btn btn-outline-secondary" routerLink="/signup">Sign Up</a>
    </div>
  </form>
</div>