<div class="container">

  <H1 style="text-align:center">Todo</H1>
  
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm" name="todoForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="todo.description" class="form-control" 
                name="description" required="required" minlength="10">
    </fieldset>

    <fieldset class="form-group">
        <label>Target Date</label>
        <input type="date" #targetDate="ngModel"
        [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
        (ngModelChange)="todo.targetDate = $event"
        class="form-control" name="targetDate" required="required" >
    </fieldset>
    <div style="text-align:center" class="form-group">
    <button type="submit" class="btn btn-dark">Save</button>
    &nbsp;&nbsp;
    <a class="btn btn-outline-secondary" routerLink="/todo-list">Back</a>
	</div>
  </form>  
</div>