<header>
    <nav style="text-align:center" class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div style="text-align:center" class= "center"><a routerLink="/home"  style="text-align:center" class="navbar-brand">
           <h2 style="text-align:center">Deloitte TODO</h2></a></div>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="navbar-brand">Logout</a></li>
        </ul>
    </nav>
</header>