<div class="container">
<h1 style="text-align:center"> Todo List </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
		<th>Target Date</th>
        <th>Description</th>
        <th>Modified Date</th>
        <th>Is Done?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos |orderBy:'-targetDate'">
			<td>{{todo.targetDate | date | uppercase}}</td>
			<td>{{todo.description}}</td>
			<td>{{todo.modifiedDate | date | uppercase}}</td>
            <td><input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo, todo.id)" [checked]="todo.done"></td>
            <td><button (click)="updateTodo(todo.id)" class="btn btn-info">Update</button> &nbsp;
            <button (click)="deleteTodo(todo.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>

  </table>
 <div style="text-align:center" class="form-group">
  <div style="text-align:center" class="rowbutton">
      <button (click)="addTodo()" class="btn btn-dark">Add</button>
  </div>
</div>
</div>
</div>